<a href="https://colab.research.google.com/github/andresbermude/Progra-lll-2023/blob/main/Copia_de_Bloque_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduccion a python

Declaracion de variables

In [ ]:
saludo = "Hola Teto"

print(saludo)

Hola Teto

In [ ]:
num1 = 9
num2 = 9

resp = num1 * num2
print("respuesta", num1, "*", num2, "=", resp)

respuesta 9 * 9 = 81

In [ ]:
name = "cecita"
saludo = "Hola " + name
print(saludo)

Hola cecita

In [ ]:
nombre = input("Dime tu nombre: ")
edad = input("tu edad ")
saludo = "hola que tal " + nombre + ", tu edad: "+ edad
print(saludo)

Dime tu nombre: Teto
tu edad 5 años
hola que tal Teto, tu edad: 5 años

In [ ]:

num1 = float(input("ingresa el primer numero:"))
num2 = float(input("El segundo numero:"))

resp = num1 * num2
print("respuesta", num1, "*", num2, "=", resp)

ingresa el primer numero:2
El segundo numero:8
respuesta 2.0 * 8.0 = 16.0

Tipos de datos

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

In [ ]:
nombre = "Cecia Maritza"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Funciones de usuario

Convertir grados celsius a farenheit

In [ ]:
def convertir_cf(C):
  return 32 + C*9/5

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Convertir de farenheit a Celsius
convertir de {Celsius, Farenheit} a kelvin

In [ ]:
def convertir_fc(f):
  return 32 + f*5/9

In [ ]:
f = float(input("farenheit: "))
print("C: ", convertir_fc(f))

calcular sueldo mensual

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

**FUNCIONES LAMBDA**
* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

Lista

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

In [ ]:
f = map (lambda c:c*9/5 + 32, data)
print( list(f) )

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

**TUPLAS**

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

**LISTAS** => **Array**

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

**DICCIONARIOS** => **JSON**

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

Ciclos

* FOR

In [ ]:
for item in data:
  print(item)

* WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data [i] )
  i+=1

Tablas de multiplicar

In [ ]:
for f in range(1,11):
	multiplicacion = 8 * f # multiplicación
	print(f'8 x {f} = {multiplicacion}') # resultado

In [ ]:
n = int(input("N tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i)

Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5 "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y"Honorable" si es 10

In [ ]:
def obtener_calificacion(nota):
    if nota < 5:
        return "Reprobo"
    elif 5 <= nota < 7:

        return "Bien"
    elif 7 <= nota < 9:

        return "Muy Bien"
    elif 9 <= nota < 10:

        return "Muy bien"
    elif nota == 10:

        return "Exelente"
    else:
        return "Nota inválida"

try:
    nota = float(input("Ingrese la nota del examen (0-10): "))
    if 0 <= nota <= 10:

        calificacion = obtener_calificacion(nota)
        print(f"Calificación: {calificacion}")

    else:
        print("Por favor, ingrese una nota válida entre 0 y 10.")

except ValueError:
    print("Por favor, ingrese una nota válida numérica.")

Escriba un programa que muestre la secuencia fibonacci

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a, "+",b,"=", c)
  b=a
  a=c

Tablas de multiplicar

In [ ]:
for f in range(1,11):
	multiplicacion = 8 * f # multiplicación
	print(f'8 x {f} = {multiplicacion}') # resultado

In [ ]:
n = int(input("N tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i)

Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5 "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y"Honorable" si es 10

In [ ]:
def obtener_calificacion(nota):
    if nota < 5:
        return "Reprobo"
    elif 5 <= nota < 7:

        return "Bien"
    elif 7 <= nota < 9:

        return "Muy Bien"
    elif 9 <= nota < 10:

        return "Muy bien"
    elif nota == 10:

        return "Exelente"
    else:
        return "Nota inválida"

try:
    nota = float(input("Ingrese la nota del examen (0-10): "))
    if 0 <= nota <= 10:

        calificacion = obtener_calificacion(nota)
        print(f"Calificación: {calificacion}")

    else:
        print("Por favor, ingrese una nota válida entre 0 y 10.")

except ValueError:
    print("Por favor, ingrese una nota válida numérica.")

Escriba un programa que muestre la secuencia fibonacci

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a, "+",b,"=", c)
  b=a
  a=c

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

1. **Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario**
2. **Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.**
3. Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

**PROGRAMACION ORIENTADA A OBJETOS.**

* CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

* OBJETO

In [ ]:
objCalculadora = Calculadora()

Tarea de bloque 1

Calculo de metros

In [ ]:
def calcular_valor_agua(metros_consumidos):
    cuota_fija = 6

    if metros_consumidos <= 18:
        valor_pagar = cuota_fija
    elif metros_consumidos <= 28:
        exceso_18 = metros_consumidos - 18
        valor_exceso_18 = exceso_18 * 0.45
        valor_pagar = cuota_fija + valor_exceso_18
    else:
        exceso_28 = metros_consumidos - 28
        valor_exceso_28 = exceso_28 * 0.65
        valor_exceso_18 = (28 - 18) * 0.45
        valor_pagar = cuota_fija + valor_exceso_18 + valor_exceso_28

    return valor_pagar

metros_consumidos = int(input("Ingrese el número de metros consumidos: "))
valor_pagar = calcular_valor_agua(metros_consumidos)
print(f"El valor a pagar es: ${valor_pagar:.2f}")

Desarrolle la tabla de meses acumulados a n meses

In [ ]:
def tabla_de_meses_acumulados(n):
    tabla = [(mes, mes * (mes + 1) // 2, (mes - 1) * mes // 2) for mes in range(1, n + 1)]
    return tabla

def mostrar_tabla(tabla):
    print("{:<6}      {:<12}".format("MESES", "ACUMULACION"))
    print("---------------------------")
    for fila in tabla:
        print("{:<2}       {} + {} = {}".format(fila[0], fila[0], fila[2], fila[1]))

n_meses = int(input("Coloca el número de meses para generar la tabla: "))
tabla_meses_acumulados = tabla_de_meses_acumulados(n_meses)
mostrar_tabla(tabla_meses_acumulados)

Conversor

In [ ]:
def convertir_monedas():
    monedas = {
        "Dolares": 1.0,
        "Euros": 0.93,
        "Yenes": 145.83,
        "Libra esterlina": 0.79,
        "Dolar australiano": 1.56,
        "Dolar canadiense": 1.36,
        "Franco suizo": 0.88,
        "Renminbi": 7.28,
        "Rupia india": 82.59,
        "Peso mexicano": 16.83
    }

    print("Opciones de monedas:")
    for i, moneda in enumerate(monedas.keys(), start=1):
        print(f"{i}. {moneda}")

    opcion_origen = int(input("Seleccione la moneda de origen (1-10): "))
    opcion_destino = int(input("Seleccione la moneda de destino (1-10): "))
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    moneda_origen = list(monedas.keys())[opcion_origen - 1]
    moneda_destino = list(monedas.keys())[opcion_destino - 1]

    conversion = cantidad * (monedas[moneda_destino] / monedas[moneda_origen])
    print(f"{cantidad} {moneda_origen} son aproximadamente {conversion:.2f} {moneda_destino}")

def convertir_longitud():
    unidades_longitud = {
        "metros": 1.0,
        "pulgadas": 39.37,
        "pies": 3.28,
        "centímetros": 100,
        "millas": 0.00062,
        "kilómetros": 0.001,
        "yardas": 1.09,
        "millímetros": 1000,
        "micrómetros": 1000000,
        "nanómetros": 1000000000
         }

    print("Opciones de unidades de longitud:")
    for i, unidad in enumerate(unidades_longitud.keys(), start=1):
        print(f"{i}. {unidad}")

    opcion_origen = int(input("Seleccione la unidad de origen (1-10): "))
    opcion_destino = int(input("Seleccione la unidad de destino (1-10): "))
    longitud = float(input("Ingrese la longitud a convertir: "))

    unidad_origen = list(unidades_longitud.keys())[opcion_origen - 1]
    unidad_destino = list(unidades_longitud.keys())[opcion_destino - 1]

    conversion = longitud * (unidades_longitud[unidad_destino] / unidades_longitud[unidad_origen])
    print(f"{longitud} {unidad_origen} son aproximadamente {conversion:.2f} {unidad_destino}")

def convertir_masa():
    unidades_masa = {
        "kilogramos": 1.0,
        "gramos": 1000,
        "miligramos": 1000000,
        "toneladas": 0.001,
        "onzas": 35.27,
        "libras": 2.20,
        "microgramos": 1000000000,
        "stone": 0.16,
        "quintales": 0.01,
        "toneladas_cortas": 0.0011
    }

    print("Opciones de unidades de masa:")
    for i, unidad in enumerate(unidades_masa.keys(), start=1):
        print(f"{i}. {unidad}")

    opcion_origen = int(input("Seleccione la unidad de origen (1-10): "))
    opcion_destino = int(input("Seleccione la unidad de destino (1-10): "))
    masa = float(input("Ingrese la masa a convertir: "))

    unidad_origen = list(unidades_masa.keys())[opcion_origen - 1]
    unidad_destino = list(unidades_masa.keys())[opcion_destino - 1]

    conversion = masa * (unidades_masa[unidad_destino] / unidades_masa[unidad_origen])
    print(f"{masa} {unidad_origen} son aproximadamente {conversion:.2f} {unidad_destino}")

def convertir_almacenamiento():
    almacenamientos = {
        "Bit": 1,
    "Kilobit": 0.001,
    "Megabit": 0.000001,
    "Gigabit": 0.000000001,
    "Byte": 0.125,
    "Kilobyte": 0.000125,
    "Megabyte": 0.000000125,
    "Gigabyte": 0.000000000125,
    "Terabyte": 1.25e-13,
    "Petabyte": 1.25e-16

      }

    print("Opciones de almacenamiento:")
    for i, almacenamiento in enumerate(almacenamientos.keys(), start=1):
        print(f"{i}. {almacenamiento}")

    opcion_origen = int(input("Seleccione el dato de almacenamiento de origen (1-10): "))
    opcion_destino = int(input("Seleccione el dato de almacenamiento de destino (1-10): "))
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    almacenamiento_origen = list(almacenamientos.keys())[opcion_origen - 1]
    almacenamiento_destino = list(almacenamientos.keys())[opcion_destino - 1]

    conversion = cantidad * (almacenamientos[almacenamiento_destino] / almacenamientos[almacenamiento_origen])
    print(f"{cantidad} {almacenamiento_origen} son aproximadamente {conversion:.16f} {almacenamiento_destino}")

def convertir_tiempo():
    unidades_tiempo = {
    "Milisegundos": 1,
    "Segundos": 0.001,
    "Minutos": 1.6667e-5,
    "Horas": 2.7778e-7,
    "Dias": 1.1574e-8,
    "Semanas": 1.6534e-9,
    "Mes": 3.8052e-10,
    "Años": 3.171e-11,
    "Decadas": 3.171e-12,
    "Siglos": 3.171e-13
      }

    print("Opciones de tiempo:")
    for i, tiempo in enumerate(unidades_tiempo.keys(), start=1):
        print(f"{i}. {tiempo}")

    opcion_origen = int(input("Seleccione el tiempo de origen (1-10): "))
    opcion_destino = int(input("Seleccione el tiempo de destino (1-10): "))
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    tiempo_origen = list(unidades_tiempo.keys())[opcion_origen - 1]
    tiempo_destino = list(unidades_tiempo.keys())[opcion_destino - 1]

    conversion = cantidad * (unidades_tiempo[tiempo_destino] / unidades_tiempo[tiempo_origen])
    print(f"{cantidad} {tiempo_origen} son aproximadamente {conversion:.16f} {tiempo_destino}")

def convertir_volumen():
    unidades_volumen = {
    "Litro": 1,
    "Galón estadounidense": 0.264172,
    "Cuarto estadounidense": 1.05669,
    "Pinta estadounidense": 2.11338,
    "Taza americana oficial": 4.16667,
    "Onza liquida estadounidense": 33.814,
    "Metro cúbico": 0.001,
    "Mililitro": 1000,
    "Pie cúbico": 0.0353147,
    "Pulgada cúbica": 61.0237
      }

    print("Opciones de volumen:")
    for i, volumen in enumerate(unidades_volumen.keys(), start=1):
        print(f"{i}. {volumen}")

    opcion_origen = int(input("Seleccione el dato de volumen de origen (1-10): "))
    opcion_destino = int(input("Seleccione el dato de volumen de destino (1-10): "))
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    volumen_origen = list(unidades_volumen.keys())[opcion_origen - 1]
    volumen_destino = list(unidades_volumen.keys())[opcion_destino - 1]

    conversion = cantidad * (unidades_volumen[volumen_destino] / unidades_volumen[volumen_origen])
    print(f"{cantidad} {volumen_origen} son aproximadamente {conversion:.7f} {volumen_destino}")

def convertir_area():
    unidades_area = {
    "Metro cuadrado": 1,
    "Pie cuadrado": 10.7639,
    "Hectárea": 0.0001,
    "Acre": 0.000247105,
    "Kilómetro cuadrado": 0.000001,
    "Milla cuadrada": 3.861e-7,
    "Yarda cuadrada": 1.19599,
    "Centímetro cuadrado": 10000,
      }

    print("Opciones de área:")
    for i, area in enumerate(unidades_area.keys(), start=1):
        print(f"{i}. {area}")

    opcion_origen = int(input("Seleccione el dato de área de origen (1-10): "))
    opcion_destino = int(input("Seleccione el dato de área de destino (1-10): "))
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    area_origen = list(unidades_area.keys())[opcion_origen - 1]
    area_destino = list(unidades_area.keys())[opcion_destino - 1]

    conversion = cantidad * (unidades_area[area_destino] / unidades_area[area_origen])
    print(f"{cantidad} {area_origen} son aproximadamente {conversion:.10f} {area_destino}")


def main():
    print("Conversor de Unidades")
    print("1. Convertir Monedas")
    print("2. Convertir Longitud")
    print("3. Convertir Masa")
    print("4. Convertir Almacenamiento")
    print("5. Convertir Tiempo")
    print("6. Convertir Volumen")
    print("7. Convertir Área")

    opcion_principal = int(input("Seleccione una opción (1-7): "))

    if opcion_principal == 1:
        convertir_monedas()
    elif opcion_principal == 2:
        convertir_longitud()
    elif opcion_principal == 3:
        convertir_masa()
    elif opcion_principal == 4:
        convertir_almacenamiento()
    elif opcion_principal == 5:
        convertir_tiempo()
    elif opcion_principal == 6:
        convertir_volumen()
    elif opcion_principal == 7:
        convertir_area()
    else:
        print("Opción no válida")

if __name__ == "__main__":
    main()

**Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones
y sueldo neto. (20%)**

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", sueldo(numHrs, valorXhr))
print( "ISR: ", isr, s*0.9075-isr )

Horas trabajadas: 12
Sueldo:  2178.0
ISR:  270.09749999999997 1706.4375

"**Examen parcial**
Conversor

In [ ]:
def pies_cuadrados_a_varas_cuadradas(pies_cuadrados):
    return pies_cuadrados / 1.19599

def pies_cuadrados_a_yardas_cuadradas(pies_cuadrados):
    return pies_cuadrados / 9.0

def pies_cuadrados_a_metros_cuadrados(pies_cuadrados):
    return pies_cuadrados / 10.7639

def metros_cuadrados_a_tareas(metros_cuadrados):
    return metros_cuadrados / 4046.86

def metros_cuadrados_a_manzanas(metros_cuadrados):
    return metros_cuadrados / 10000.0

def metros_cuadrados_a_hectareas(metros_cuadrados):
    return metros_cuadrados / 10000.0

# Menú de opciones
while True:
    print("1. Pies cuadrados a Varas cuadradas")
    print("2. Pies cuadrados a Yardas cuadradas")
    print("3. Pies cuadrados a Metros cuadrados")
    print("4. Metros cuadrados a Tareas")
    print("5. Metros cuadrados a Manzanas")
    print("6. Metros cuadrados a Hectáreas")
    print("7. Salir")

    opcion = int(input("Selecciona una opción: "))

    if opcion == 7:
        break

    valor = float(input("Ingresa el valor del área: "))

    if opcion == 1:
        resultado = pies_cuadrados_a_varas_cuadradas(valor)
        print(f"{valor} pies cuadrados son {resultado} varas cuadradas")
    elif opcion == 2:
        resultado = pies_cuadrados_a_yardas_cuadradas(valor)
        print(f"{valor} pies cuadrados son {resultado} yardas cuadradas")
    elif opcion == 3:
        resultado = pies_cuadrados_a_metros_cuadrados(valor)
        print(f"{valor} pies cuadrados son {resultado} metros cuadrados")
    elif opcion == 4:
        resultado = metros_cuadrados_a_tareas(valor)
        print(f"{valor} metros cuadrados son {resultado} tareas")
    elif opcion == 5:
        resultado = metros_cuadrados_a_manzanas(valor)
        print(f"{valor} metros cuadrados son {resultado} manzanas")
    elif opcion == 6:
        resultado = metros_cuadrados_a_hectareas(valor)
        print(f"{valor} metros cuadrados son {resultado} hectáreas")
    else:
        print("Opción no válida. Por favor, selecciona una opción válida.")